# Don't include game files
*.iso
*.dol
*.gcm
*.bin
iso/

# Don't include build files
build/
CMakeFiles/
build_errors.txt
build-codex/
.vs/

# Analysis Artifacts
cfg.dot
analysis_log.txt

# Just in case
.env/
.vscode/

# Executable
gcrecomp.exe

# Output
output/
